{% macro work(classes) %}
	<section class="work {{classes}} animate-block">
		<div class='work__container'>
			<div class="work__inner">
				<h2 class="work__title text-50 fade-up" data-watch data-watch-once>Мои работы</h2>
				<div class="work__row fade-up" data-watch data-watch-once>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/01-m.webp, ./img/work/01-m@2x.webp 2x">
									<img src="./img/work/01.webp" srcset="./img/work/01@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Кольца и браслеты</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/02-m.webp, ./img/work/02-m@2x.webp 2x">
									<img src="./img/work/02.webp" srcset="./img/work/02@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Ножи</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/03-m.webp, ./img/work/03-m@2x.webp 2x">
									<img src="./img/work/03.webp" srcset="./img/work/03@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Запонки и пуговицы</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/04-m.webp, ./img/work/04-m@2x.webp 2x">
									<img src="./img/work/04.webp" srcset="./img/work/04@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Броши и подвечски</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/05-m.webp, ./img/work/05-m@2x.webp 2x">
									<img src="./img/work/05.webp" srcset="./img/work/05@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Декоративные композиции</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/06-m.webp, ./img/work/06-m@2x.webp 2x">
									<img src="./img/work/06.webp" srcset="./img/work/06@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Пряжки</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/07-m.webp, ./img/work/07-m@2x.webp 2x">
									<img src="./img/work/07.webp" srcset="./img/work/07@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Серьги</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/08-m.webp, ./img/work/08-m@2x.webp 2x">
									<img src="./img/work/08.webp" srcset="./img/work/08@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Темляки и бусины</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/09-m.webp, ./img/work/09-m@2x.webp 2x">
									<img src="./img/work/09.webp" srcset="./img/work/09@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Фигурки</div>
					</a>
					<a href="javascript:void(0)" class="work__card card-work">
						<div class="card-work__top">
							<div class="card-work__img">
								<picture>
									<source media="(max-width: 992px)" srcset="./img/work/10-m.webp, ./img/work/10-m@2x.webp 2x">
									<img src="./img/work/10.webp" srcset="./img/work/10@2x.webp 2x" alt="">
								</picture>
							</div>
						</div>
						<div class="card-work__title text-18">Разное</div>
					</a>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}
