@use '../../scss/partials/imports' as *;

@layer component {
  .work {
    // .work__container

    &__container {
    }

    // .work__inner

    &__inner {
      display: flex;
      flex-direction: column;
      gap: 25px;

      @include mq($tablet) {
        gap: 5.94vw;
      }
    }

    // .work__title

    &__title {
      text-align: center;
      font-weight: 300;
    }

    // .work__row

    &__row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 18px 10px;

      @include mq($tablet) {
        gap: 2.97vw 1.09vw;
        grid-template-columns: repeat(4, 1fr);
      }

      @include mq($m) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    // .work__card

    &__card {
    }
  }
}
