{% macro attention(classes) %}
	<section class="attention {{classes}} animate-block fade-up" data-watch data-watch-once>
		<div class='attention__container'>
			<div class="attention__content">
				<div class="attention__text text-22">
					На этом сайте представлены работы, сделанные мной в разное время. Сайт не является магазином —
					<br>
					это галерея моих работ. Некоторые работы, выполненные в технике художественного литья, я могу повторить. Некоторые выполнены в единственном экземпляре. Но все они предназначены для радости 
																				и украшения нашей прекрасной жизни.
				</div>
			</div>
		</div>
	</section>
{% endmacro %}
