@use '../../scss/partials/imports' as *;

@layer component {
  .attention {
    // .attention__container

    &__container {
    }

    // .attention__content

    &__content {
      max-width: 1220px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @include mq($tablet) {
        padding: 0px 4.11vw;
        max-width: 63.54vw;
        gap: 3.13vw;
      }

      @include mq($s) {
        padding: 0px 75px;
      }
    }

    // .attention__text

    &__text {
      font-weight: 300;
      line-height: 136.364%; /* 136.364% */
      color: cl(gry);
      @include mq-max($tablet) {
        line-height: 142.857%; /* 142.857% */
      }
    }
  }
}
