{% set title = 'Главная страница' %}
{% extends 'src/twig/layout.twig' %}
{% import './src/components/blog/blog.twig' as blog %}
{% block content %}
	<main class="page page--header">
		{{blog.blog("section")}}
	</main>
{% endblock %}
