{% set title = 'Главная страница' %}
{% extends 'src/twig/layout.twig' %}
{% import './src/components/mistake/mistake.twig' as mistake %}
{% block content %}
	<main class="page page--header">
		{{mistake.mistake("section")}}
	</main>
{% endblock %}
