@use '../../scss/partials/imports' as *;

// <INPUT>
// Сніппет (HTML): inp
input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */

  /* display: none; <- Crashes Chrome on hover */
  appearance: none;
}

input[type='number'] {
  appearance: textfield;
  /* Firefox */
}

.input {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #eee;
  border-radius: 0;

  // &._form-focus {
  // }

  // &._form-error {
  // }
}

.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  padding: 0;
  resize: none;
}