{% macro product(classes) %}
	<section class="product {{classes}} animate-block">
		<div class='product__container'>
			<div class="product__body">
				<div class="product__top">
					<div class="product__breadcrumb breadcrumb fade-up" data-watch data-watch-once>
						<ul class="breadcrumb__list">
							<li class="breadcrumb__item text-16">
								<a href="javascript:void(0)">
									Темляки и бусины
								</a>
							</li>
							<li class="breadcrumb__item text-16 breadcrumb__item--active">
								<span>Стрекоза в саду</span>
							</li>
						</ul>
					</div>
					<h2 class="product__title text-50 fade-up" data-watch data-watch-once>Стрекоза в саду</h2>
				</div>
				<div class="product__inner">
					<div class="product__sliders fade-up" data-watch data-watch-once>
						<div class="product__thumbs swiper js-slider-thumbs">
							<div class="product__swiper swiper-wrapper">
								<div class="product__gallery swiper-slide">
									<div class="product__gallery-img">
										<picture>
											<img src="./img/product/01.webp" srcset="./img/product/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="product__gallery swiper-slide">
									<div class="product__gallery-img">
										<picture>
											<img src="./img/product/02.webp" srcset="./img/product/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="product__gallery swiper-slide">
									<div class="product__gallery-img">
										<picture>
											<img src="./img/product/03.webp" srcset="./img/product/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
							</div>
						</div>
						<div class="product__slider swiper js-slider-product">
							<div class="product__swiper swiper-wrapper">
								<div class="product__slide swiper-slide">
									<div class="product__slide-img">
										<picture>
											<img src="./img/product/04.webp" srcset="./img/product/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="product__slide swiper-slide">
									<div class="product__slide-img">
										<picture>
											<img src="./img/product/04.webp" srcset="./img/product/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
								<div class="product__slide swiper-slide">
									<div class="product__slide-img">
										<picture>
											<img src="./img/product/04.webp" srcset="./img/product/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="product__content fade-up" data-watch data-watch-once>
						<div class="product__info">
							<div class="product__text text-16">
								Изящная серебряная бусина ручной работы с объёмным рельефом стрекозы среди цветов и листьев. Выполнена 
																																																																																																																																																																																																																																																																																																																																								из стерлингового серебра 925 пробы с эффектом античного оксидирования. Совместима с браслетами Pandora, Soufeel, Trollbeads и другими системами 
																																																																																																																																																																																																																																																																																																																																								с диаметром отверстия 4.5–5 мм.
							</div>
							<div class="product__items">
								<dl class="product__item">
									<dt class="product__category text-16">Металл:</dt>
									<dd class="product__value text-16">Серебро 925 пробы</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Покрытие:
									</dt>
									<dd class="product__value text-16">Оксидирование</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Диаметр бусины:
									</dt>
									<dd class="product__value text-16">12 мм</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Диаметр отверстия:
									</dt>
									<dd class="product__value text-16">4,5 мм</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Вес:
									</dt>
									<dd class="product__value text-16">5 гр</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Технология:
									</dt>
									<dd class="product__value text-16">Литьё по восковой модели</dd>
								</dl>
								<dl class="product__item">
									<dt class="product__category text-16">Год:
									</dt>
									<dd class="product__value text-16">2021</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}
