{% macro footer() %}
	<footer class="footer">
		<div class="footer__container">
			<div class="footer__inner">
				<div class="footer__info">
					<a href="javascript:void(0)" class="footer__logo">
						<img src="./img/footer/01.svg" alt="">
					</a>
					<div class="footer__items">
						<div class="footer__item text-14">© 2026 Галерея работ Андрея Аввакумова. Все права защищены.</div>
						<a href="javascript:void(0)" class="footer__item text-14">Политика конфиденциальности</a>
					</div>
				</div>
				<div class="footer__content">
					<div class="footer__row">
						<a href="javascript:void(0)" class="footer__column text-14">+7 916 602-91-93</a>
						<a href="javascript:void(0)" class="footer__column text-14">li3art@yandex.ru</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endmacro %}
