{% macro catalog(classes) %}
	<section class="catalog {{classes}} animate-block">
		<div class='catalog__container'>
			<div class="catalog__inner">
				<h2 class="catalog__title text-50 fade-up" data-watch data-watch-once>Кольца и браслеты</h2>
				<div class="catalog__row fade-up" data-watch data-watch-once>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/01.webp" srcset="./img/working/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Мимоза</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Броши и подвески</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Нефритовая рыба</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Волны и птицы</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Темляки и бусины</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Стрекоза</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/05.webp" srcset="./img/working/05@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Мимоза</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/06.webp" srcset="./img/working/06@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Броши и подвески</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Нефритовая рыба</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/07.webp" srcset="./img/working/07@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Волны и птицы</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/08.webp" srcset="./img/working/08@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Темляки и бусины</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Стрекоза</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/08.webp" srcset="./img/working/08@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Мимоза</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Броши и подвески</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Нефритовая рыба</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/01.webp" srcset="./img/working/01@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Кольца и браслеты</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Волны и птицы</a>
						</div>
					</div>
					<div class="catalog__column card-working">
						<div class="card-working__slider swiper js-slider-card">
							<div class="card-working__swiper swiper-wrapper">
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/02.webp" srcset="./img/working/02@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/03.webp" srcset="./img/working/03@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
								<a href="javascript:void(0)" class="card-working__slide swiper-slide">
									<div class="card-working__img">
										<picture>
											<img src="./img/working/04.webp" srcset="./img/working/04@2x.webp 2x" alt="">
										</picture>
									</div>
								</a>
							</div>
							<div class="card-working__pagination"></div>
						</div>
						<div class="card-working__content">
							<a href="javascript:void(0)" class="card-working__category text-14">Темляки и бусины</a>
							<a href="javascript:void(0)" class="card-working__title text-18">Стрекоза</a>
						</div>
					</div>
				</div>
				<div class="catalog__bottom fade-up" data-watch data-watch-once>
					<a href="javascript:void(0)" class="catalog__btn btn btn--icon text-16" style='--icon:url("../img/icons/01.svg")'>Показать ещё</a>
					<div class="catalog__pagination pagination">
						<ul class="pagination__list">
							<li>
								<a href="javascript:void(0)" class="pagination__item text-16 active">1</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="pagination__item text-16">2</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="pagination__item text-16">3</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="pagination__item text-16">4</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="pagination__item pagination__item--glasses text-16">...</a>
							</li>
							<li>
								<a href="javascript:void(0)" class="pagination__item text-16">8</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}
