// [ ] Подключаем шрифты, генератор https://www.fontconverter.io/en
@mixin font-face($name, $weight) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-style: normal;
    src:
      url('../fonts/' + $name + '-' + $weight + '.woff2') format('woff2'),
      url('../fonts/' + $name + '-' + $weight + '.woff') format('woff');
    font-display: swap;
    ascent-override: 90%;

    descent-override: 22%;
    line-gap-override: 0%;
  }
}

// Подключить, если есть локальные файлы шрифтов
@include font-face('AVFontimer', 300);
@include font-face('AVFontimer', 400);
@include font-face('Manrope', 400);
@include font-face('Manrope', 500);
@include font-face('Manrope', 600);
// @include font-face('raleway', 600);
// @include font-face('raleway', 800);
